$color-main: #F2F2F2;
$color-main-darker: #FAFAFA;
$color-primary: #05D6FA;//#0d2d62;
$color-distinction: #FA7305;//#E77809;
$success-color: rgb(255, 0, 221);
//$color-shadow-navigation: rgba(0,0,0,0.2) ;
//$color-gallery-description: rgba(#0d2d62,0.5);
//$color-linkbar: #212121;
$color-text-light: #ffffff;
$color-text-gray: #888888;
$color-text-gray-light:#c4c4c4;
$color-text-dark: #2d2e2e;
$color-text-primary:#0094AD;// #0d2d62;
$color-text-distinction:#AD4F02;